body{
    display: flex;
    height: 100vh;
    flex-direction: row;
    align-items: center;
    background-color:lightgoldenrodyellow;
    justify-content: center;
    overflow: hidden;
}
#contador{
    margin-left: 10px;
    font-size: 40px;
    font-weight: bold;
    color: rgb(255, 0, 0);
}