.u-section-1 .u-sheet-1 {
  min-height: 211px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px 526px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -26px 0 0 932px;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px 526px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 326px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 732px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 326px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 106px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 512px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 106px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 332px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-left: 132px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1071px;
}

.u-section-2 .u-tabs-1 {
  min-height: 1011px;
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-2 .u-tab-link-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 966px 0 0;
}

.u-section-2 .u-line-1 {
  height: 3px;
  transform-origin: left center;
  width: 1080px;
  margin: 6px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 945px 0 0;
}

.u-section-2 .u-line-2 {
  height: 3px;
  transform-origin: left center;
  margin: 6px auto 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-2 {
  padding: 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 966px 0 0;
}

.u-section-2 .u-line-3 {
  height: 3px;
  transform-origin: left center 0px;
  margin-bottom: 0;
  margin-top: 6px;
  margin-left: 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-3 {
  padding: 0;
}

.u-section-2 .u-text-7 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 966px 0 0;
}

.u-section-2 .u-line-4 {
  height: 3px;
  transform-origin: left center 0px;
  margin-top: 6px;
  margin-bottom: 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-4 {
  padding: 0;
}

.u-section-2 .u-text-9 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 966px 0 0;
}

.u-section-2 .u-line-5 {
  height: 3px;
  transform-origin: left center 0px;
  margin-top: 6px;
  margin-bottom: 0;
}

.u-section-2 .u-text-10 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-5 {
  padding: 0;
}

.u-section-2 .u-text-11 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 966px 0 0;
}

.u-section-2 .u-line-6 {
  height: 3px;
  transform-origin: left center 0px;
  margin-top: 6px;
  margin-bottom: 0;
}

.u-section-2 .u-text-12 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-6 {
  padding: 0;
}

.u-section-2 .u-text-13 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 966px 0 0;
}

.u-section-2 .u-line-7 {
  height: 3px;
  transform-origin: left center 0px;
  margin-top: 6px;
  margin-bottom: 0;
}

.u-section-2 .u-text-14 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-7 {
  padding: 0;
}

.u-section-2 .u-text-15 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 966px 0 0;
}

.u-section-2 .u-line-8 {
  height: 3px;
  transform-origin: left center 0px;
  margin-top: 6px;
  margin-bottom: 0;
}

.u-section-2 .u-text-16 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-8 {
  padding: 0;
}

.u-section-2 .u-text-17 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 966px 0 0;
}

.u-section-2 .u-line-9 {
  height: 3px;
  transform-origin: left center 0px;
  margin-top: 6px;
  margin-bottom: 0;
}

.u-section-2 .u-text-18 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-9 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-tabs-1 {
    height: auto;
  }

  .u-section-2 .u-text-1 {
    margin-right: 766px;
  }

  .u-section-2 .u-line-1 {
    width: 880px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 745px;
  }

  .u-section-2 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-5 {
    margin-right: 766px;
  }

  .u-section-2 .u-line-3 {
    margin-left: initial;
  }

  .u-section-2 .u-text-7 {
    margin-right: 766px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 766px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 766px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 766px;
  }

  .u-section-2 .u-text-15 {
    margin-right: 766px;
  }

  .u-section-2 .u-text-17 {
    margin-right: 766px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 546px;
  }

  .u-section-2 .u-line-1 {
    width: 660px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 525px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 546px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 546px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 546px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 546px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 546px;
  }

  .u-section-2 .u-text-15 {
    margin-right: 546px;
  }

  .u-section-2 .u-text-17 {
    margin-right: 546px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 406px;
  }

  .u-section-2 .u-line-1 {
    transform-origin: left center 0px;
    width: 520px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 385px;
  }

  .u-section-2 .u-line-2 {
    transform-origin: left center 0px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-5 {
    margin-right: 406px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 406px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 406px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 406px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 406px;
  }

  .u-section-2 .u-text-15 {
    margin-right: 406px;
  }

  .u-section-2 .u-text-17 {
    margin-right: 406px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 206px;
  }

  .u-section-2 .u-line-1 {
    width: 320px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 185px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 206px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 206px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 206px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 206px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 206px;
  }

  .u-section-2 .u-text-15 {
    margin-right: 206px;
  }

  .u-section-2 .u-text-17 {
    margin-right: 206px;
  }
}