
.txtVista{
margin-top: 5%;
padding: 2rem;
color: #000;
background-color: #eee;
font-weight: bold;
border-radius: 10px;
font-size: 20px;
width: 19%;

}

body{
    margin-left: 40%;  
    background: #27282e; 
}

h3{
    margin-left: -7%;
    color: #eee;
}
.button_add{
    margin-left: 9%;
}

