*{
    margin: 0%;
    padding: 0%;
    border: 0;
    background-color: lightcyan;
}  

.one_third_padding{
    width: 29%;
    float: left;
    margin: 3%;
}

.link{
background-color: lightyellow;
}


.wrapper {
    width: 29%;
    margin: 15% -15% 0% -5%;
    float: left;
}

.wrapper p{
    width: 29%;
}

a{
    text-decoration: none ;
    font-weight: bold;
    color:rgb(1, 1, 255)
 
}