.u-section-1 .u-sheet-1 {
  min-height: 211px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px 526px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -26px 0 0 932px;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px 526px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 326px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 732px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 326px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 106px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 512px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 106px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 332px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-left: 132px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 180px;
}

.u-section-2 .u-group-1 {
  margin-top: 21px;
  margin-bottom: 0;
  background-image: none;
  min-height: 67px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-1 {
  margin: 17px 455px 0;
}

.u-section-2 .u-text-2 {
  width: 589px;
  margin: 17px auto 23px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 355px;
    margin-right: 355px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 245px;
    margin-right: 245px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 175px;
    margin-right: 175px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 75px;
    margin-right: 75px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 269px;
}

.u-section-3 .u-form-1 {
  height: 220px;
  width: 570px;
  margin: 12px auto 0;
}

.u-section-3 .u-input-1 {
  background-image: none;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  width: 507px;
  margin: 0 auto 12px;
}

@media (max-width: 767px) {
  .u-section-3 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-form-1 {
    width: 340px;
  }
}