.form-control.num{
    width: 20%;
}
.row.justify-content.PassMateria{
    position: relative;
    width: 20%;
    left: 35%;
    bottom: 70%;

}
.text{
    width: 50px;
    float: left;
}.NomCod{
       position: absolute;
    left: 65%;
}
.Ingresa{
    position: relative;
    left: 20%;
}
.form-control{
    position: relative;
    left: 20%;
    width: 50%;
}
.btn-primary{
    position: relative;
    left: 90%;
}

.slidershow{
    width: 700px;
    height: 400px;
    overflow: hidden;
}
.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.navegacion{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}
.bar{
    background-color:black;
    width: 50px;
    height: 10px;
    border: 3px gray;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}
.bar:hover{
    background-color:gray;
}
input[name="r"]{
    position: absolute;
    visibility: hidden;
}
.slides{
    width: 500%;
    height: 100%;
    display: flex;
}
.slide{
    width: 30%;
    transition: 0.6s;
}
.slide div{
    width: 100%;
    height: 100%;
}
#r1:checked ~ .s1{
    margin-left: 0;
}
#r2:checked ~ .s1{
    margin-left: -30%;
}
#r3:checked ~ .s1{
    margin-left: -60%;
}
#r4:checked ~ .s1{
    margin-left: -90%;
}
#r5:checked ~ .s1{
    margin-left: -120%;
}
#r6:checked ~ .s1{
    margin-left: -150%;
}
#r7:checked ~ .s1{
    margin-left: -180%;
}
#r8:checked ~ .s1{
    margin-left: -210%;
}
