.body{
    background-color: rgb(255, 238, 238);
}


.header-text2{
   
    font-weight: normal;
}
.header{
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 50px;
}
.header-text{
    display: flex;

}
.menu{
    margin-top: 50px;
    margin-left: 30%;  
    margin-right: 30%;
    

    
}
.fila{
    color: black;
}
table{
    
    width: 100%;
    border-spacing: 20px;
}

table tbody tr td{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1a81e1;
}

table tbody tr:hover{
    background-color: rgba(241, 187, 187, 0.822);
}