body{
    background-color:lightgoldenrodyellow;
}

.titulo{
   margin-left: 35%;
   margin-top: 3%;
}

.box{
   margin-left: 35%;
   margin-top: 3%;
}

.boton{
   margin-right: 45%;
   float:right;
   margin-top: -4%;
}

.text{
   margin-left: 35%;
   margin-top: 5%;
}

.texto{
    width: 100px;
    border-top-color: black;
    background-color:white;
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 35%;
   margin-top: 5%;
}